---
layout: default
---

<div class="home">

  {% include post_footer.html %}

  {% comment %}

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        {% if post.layout != "page" %}
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        {% endif %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  {% endcomment %}


  <h2><a name="projects" class="ci">Projects</a></h2>

  <div class="container">
    <div class="clearfix">
      {% for post in site.categories.projects %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="clearfix">
            {% include project_card.html %}
        {% else %}
            {% include project_card.html %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
